.navbar{
    float: right;
    margin:20px;
}

.nav-item{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.nav-item:hover{
    text-decoration: underline;
}


.main{
    text-align: center;
    margin-top: 150px;
}